__pycache__
.terraform
airflow/logs/**/*.log
**/.ipynb_checkpoints
**/*.log
*/*.log
airflow/logs/scheduler/latest
.gitkeep
*.parquet
spark/data
**/*.zip
.vscode/*
*.csv
.terraform.lock.hcl
.DS_Store
airflow/logs/
